<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
	
	<context-param>
		<param-name>APP_NAME</param-name>
		<param-value>IMiGEr</param-value>
	</context-param>
	<context-param>
		<param-name>APP_HOME_URL</param-name>
		<param-value>/imiger/</param-value>
	</context-param>

	<!--
	servlets
	-->
	<servlet>
		<servlet-name>UploadFiles</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.UploadFiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowGraph</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.ShowGraph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDBDiagram</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.GetDBDiagram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveDiagram</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.SaveDiagram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveDiagram</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.RemoveDiagram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPrivateDiagrams</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.GetPrivateDiagrams</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPublicDiagrams</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.GetPrivateDiagrams</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetLoggedInUser</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.GetLoggedInUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestRawInput</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.rest.RawInput</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataAccessError</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.DataAccessError</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProcessingModules</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.api.GetProcessingModules</servlet-class>
	</servlet>

	<!--
	URL-to-servlet mappings
	-->
	<servlet-mapping>
		<servlet-name>UploadFiles</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowGraph</servlet-name>
		<url-pattern>/graph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/api/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/api/log-in</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/api/log-out</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDBDiagram</servlet-name>
		<url-pattern>/api/get-diagram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveDiagram</servlet-name>
		<url-pattern>/api/save-diagram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveDiagram</servlet-name>
		<url-pattern>/api/remove-diagram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPrivateDiagrams</servlet-name>
		<url-pattern>/api/get-private-diagrams</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPublicDiagrams</servlet-name>
		<url-pattern>/api/get-public-diagrams</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProcessingModules</servlet-name>
		<url-pattern>/api/get-processing-modules</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetLoggedInUser</servlet-name>
		<url-pattern>/api/get-logged-in-user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestRawInput</servlet-name>
		<url-pattern>/rest/raw-input</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataAccessError</servlet-name>
		<url-pattern>/data-access-error</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>cz.zcu.kiv.offscreen.user.DataAccessException</exception-type>
		<location>/data-access-error</location>
	</error-page>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<listener>
		<listener-class>cz.zcu.kiv.offscreen.session.SessionManager</listener-class>
	</listener>
	<listener>
		<listener-class>cz.zcu.kiv.offscreen.ApplicationListener</listener-class>
	</listener>

	<!-- Tomcat CORS filter; https://tomcat.apache.org/tomcat-8.0-doc/config/filter.html#CORS_Filter -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>DefaultPage</welcome-file>
	</welcome-file-list>
</web-app>