.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 40px;
    background: rgba(0,0,0,0.5);
}

.modal-content {
	position: relative;
	max-width: 440px;
	min-height: 40px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #7db9e8;
}

.modal-content .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}
