.sidebar {
	display: flex;
	flex-basis: 350px;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f0f9ff;
}

.sidebar .button {
    background-color: #cfeafe;
    border: 1px solid gray;
    padding: 0.5em;
    cursor: pointer;
    outline: 0;
}

.sidebar .button img {
	max-width: 100%;
}

.sidebar .node-container {
	position: relative;
	overflow-y: overlay;
}

.sidebar .node-container-title {
	font-size: 1.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	cursor: pointer;
}

.sidebar .button-group {
	position: absolute;
    top: 1em;
	right: 1.5em;
}

.sidebar .button-group > * {
	float: left;
}

.sidebar .button-group .button {
	display: block;
    width: 20px;
    height: 20px;
    padding: 0;
}

.sidebar .button-group .button:not(:last-child) {
	margin-right: 1px;
}

.sidebar .node .button-group > * {
	float: none;
}

.sidebar .node .button-group .button:not(:last-child) {
	margin-right: 0;
	margin-bottom: 1px;
}

.sidebar .node-container:not(.change-nodes) .trigger-change-button {
	display: none;
}

.sidebar .node-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.sidebar .excluded-nodes {
    min-height: 20%;
    border-top: 1px solid #7db9e8;
}

.sidebar .excluded-nodes .button-group {
	top: 1em;
}

.sidebar .node {
    position: relative;
    display: flex;
	margin-top: 1em;
	margin-bottom: 1em;
	user-select: none;
}

.sidebar .node > svg {
    position: relative;
    display: inline-block;
    margin-left: -6px;
    vertical-align: top;
}

.sidebar .node .related-archetype > text {
	font-size: 0.8em;
}

.sidebar .node .related-archetype > line {
	stroke: #000;
}

.sidebar .group {
	padding-top: 2em;
}

.sidebar .group-symbol {
    position: absolute;
    top: 0;
	left: 40px;
	display: inline-block;
    font-size: 1.6em;
    width: 25px;
    height: 25px;
    text-align: center;
}

.sidebar .group-name {
	position: absolute;
	top: 0;
	left: 70px;
	width: 230px;
	font-size: 1.2em;
	line-height: 1.6rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: text;
}

.sidebar .group-vertex-list {
	display: inline-block;
	box-sizing: border-box;
	width: 260px;
	min-height: 60px;
	padding-left: 0;
	list-style: none;
	padding: 5px 7px;
	border: 1px solid black;
	background-color: #cfeafe;
}

.sidebar .node--highlighted .group-vertex-list {
	padding: 3px 5px;
	border: 3px solid red;
}

.sidebar .vertex-name {
	display: inline-block;
	box-sizing: border-box;
	width: 260px;
	height: 60px;
	font-family: 'Consolas';
	line-height: 60px;
	padding: 0 7px;
	border: 1px solid black;
	background-color: #cfeafe;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar .node .outer-floater,
.sidebar .node .outer-port {
	display: none;
}

.sidebar .node--found .vertex-name,
.sidebar .node--found .group-name {
	background-color: orange;
}

.sidebar .node--highlighted .vertex-name {
	line-height: 56px;
	padding: 0 5px;
	border: 3px solid red;
}

.sidebar .node--highlighted-as-required .vertex-name,
.sidebar .node--highlighted-as-required .group-name {
	background: red;
}

.sidebar .node--highlighted-as-provided .vertex-name,
.sidebar .node--highlighted-as-provided .group-name {
	background: #5896FF;
}

.sidebar .node--highlighted-as-required.node--highlighted-as-provided .vertex-name,
.sidebar .node--highlighted-as-required.node--highlighted-as-provided .group-name {
	background: linear-gradient(to right, red, #5896FF);
}

.sidebar .node--highlighted-as-required .provided-counter .outer-floater,
.sidebar .node--highlighted-as-required-neighbours .required-counter .outer-floater,
.sidebar .node--highlighted-as-provided .required-counter .outer-floater,
.sidebar .node--highlighted-as-provided-neighbours .provided-counter .outer-floater,
.sidebar .node--highlighted-as-required .provided-counter .outer-port,
.sidebar .node--highlighted-as-required-neighbours .required-counter .outer-port,
.sidebar .node--highlighted-as-provided .required-counter .outer-port,
.sidebar .node--highlighted-as-provided-neighbours .provided-counter .outer-port {
	display: block;
}

.sidebar .node--highlighted-required-neighbours .required-counter .outer-port {
	stroke: red;
	stroke-width: 2;
}

.sidebar .node--highlighted-required-neighbours .provided-counter .outer-port {
	stroke: #5896ff;
	stroke-width: 2;
}

.sidebar .vertex .button-group {
	top: 0;
}

.sidebar .group .button-group {
	top: 2em;
}

.unconnected-nodes .button-group .show-symbol-button {
    display: none;
}

/* sorting */

.sort-list {
	font-size: 0.8em;
	list-style: none;
	padding: 0;
}

.sort-list > li {
	display: inline-block;
	margin-right: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	cursor: pointer;
}

.sort-list > li::before {
	display: inline;
	margin-right: 0.5em;
}

.sort-list > li.sort-asc::before {
	content: "▲";
}

.sort-list > li.sort-desc::before {
	content: "▼";
}
