.status-bar {
	font-size: 11px;
	z-index: 1;
	color: #cceefc;
	background-color: #1e5799;
}

.status-bar > span {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
}

.status-bar .link {
	text-decoration: underline;
	cursor: pointer;
}
