*[data-tooltip][title] {
    position: relative;
}

*[data-tooltip][title]::after {
    visibility: hidden;
    content: attr(title);
    position: absolute;
    opacity: 0;
    font-weight: normal;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    background: #1e5799;
    white-space: nowrap;
    transition-duration: 0.4s;
}

*[data-tooltip][title]:hover::after {
	visibility: visible;
    opacity: 1;
}

*[data-tooltip="top"]::after {
	top: -25px;
	left: 0;
	transition-property: top, opacity;
}

*[data-tooltip="top"]:hover::after {
	top: -30px;
}

*[data-tooltip="top-left"]::after {
	top: -25px;
    right: 5px;
    transition-property: top, opacity;
}

*[data-tooltip="top-left"]:hover::after {
	top: -30px;
}

*[data-tooltip="left"]::after {
	top: -5px;
	right: 20px;
	transition-property: right, opacity;
}

*[data-tooltip="left"]:hover::after {
	right: 25px;
}
