.viewport {
	flex: 1;
}

.viewport .edge {
	stroke: black;
    stroke-width: 1;
}

.viewport .edge .arrow {
	fill: white;
    stroke-width: 2;
}

.viewport .edge--dimmed {
	opacity: 0.33;
}

.viewport .edge--highlighted {
	stroke: red;
}

.viewport .edge--highlighted-as-required {
	stroke: red;
    stroke-width: 2;
}

.viewport .edge--highlighted-as-provided {
	stroke: #5896FF;
    stroke-width: 2;
}

.viewport .edge--highlighted .arrow {
	stroke: red;
}

.viewport .vertex {
    font-family: 'Consolas', sans-serif;
    font-size: 15px;
	user-select: none;
	cursor: default;
}

.viewport .vertex > rect {
	fill: #cfeafe;
	stroke: black;
	stroke-width: 1;
}

.viewport .node--dimmed {
	opacity: 0.5;
}

.viewport .node--highlighted > rect {
	stroke: red;
	stroke-width: 3;
}

.viewport .node--highlighted-as-required > rect {
	fill: red;
}

.viewport .node--highlighted-as-provided > rect {
	fill: #5896FF;
}

.viewport .node--highlighted-as-archetype > rect {
	fill: yellowgreen;
}

.viewport .node--highlighted-as-required.node--highlighted-as-provided > rect {
	fill: url(#node--highlighted-as-required-provided);
}

.viewport .node--dragged > rect {
	fill: yellow;
}

.viewport .neighbour-node-symbol {
    stroke: #000;
    stroke-width: 1;
}

.viewport .neighbour-node-symbol > text {
	stroke-width: 0;
}

.viewport .group {
	user-select: none;
}

.viewport .group .group-viewport {
	stroke: #000;
	stroke-width: 0;
}

.viewport .group .group-symbol {
	font-size: 48px;
}

.viewport .group .group-name {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: text;
}

.viewport .group .button > rect {
	fill: #fff;
	stroke: #000;
}

.viewport .group .dissolve-button > line {
	stroke: #ca0000;
	stroke-width: 2;
}
