/* 
	Document   : basic
	Created on : 19.2.2012, 11:25:14
	Author     : Jindra Pavlíková
	Description:
		Purpose of the stylesheet follows.
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, br, blockquote, 
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, 
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, 
mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

hr {
	color: black;
	margin: 5px;
	border: 0;
	border-bottom: 1px solid black;
}

body {
	background: #e8f4ff;
	font-family: sans-serif;

}

h5 {
	margin-bottom: 10px;
}

.clean {
	clear: both;
}

.btn {
	cursor: pointer;
}

.imgDelete {
	padding: 2px 5px;
	width: 16px;
	height: 16px;
	float: right;
}

.verticalSeparator {
	border: none;
	border-top: 1px #0B548A dashed;
	margin: 15px 0;
}

/* required/provided counters */

#lolipA,
#lolipB,
#lolipC,
#lolipD {
	text-anchor: middle;
	font-size: 8pt;
}

#lolipC,
#lolipD {
	stroke: none;
	cursor: default;
}

/* qTip */

.qtip_width_setting {
	max-width: 1200px !important;
	min-width: 0px !important;
}

/******************************************************************************
 * LOADER
 *****************************************************************************/

.loader {
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: black;
}

.loader-content {
	position: relative;
	top: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: -100px;
	background: #5d5d5d;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.loader-content p {
	text-align: center; 
	margin-top: 5px;
	margin-bottom: 10px;
	opacity: 1;
}

/******************************************************************************
 * HEADER
 *****************************************************************************/

.header {
	width: 100%;
	line-height: 60px;
	vertical-align: middle;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

.header-logo {
	float: left;
	margin: 0px 20px;
	margin-top: 5px;
	width: 100px;
	height: 48px;
}

.header-title {
	margin-left: 60px;
}

.header .err_msg,
.header .not_msg {
	line-height: 16px;
}

.header .err_msg {
	color: #FF0000;
}
.header .not_msg {
	color: #009900;
}

/* login and register links */

.header .login_box {
	float: right;
	position: absolute;
	right: 25px;
	top: 0px;
	font-weight: bold;	
}

.header .login_box a {
	color: #0B548A;
	font-size: 14px;
}

.header .login_box a:hover {
	text-decoration: none;
}

/* login popup */

.header .login_popup {
	display: none;
	position: absolute;
	right: 4px;
	top: 45px;
	z-index: 999;
	padding: 10px 20px;
	border: 1px solid #999;
	background: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
}

.header .login_popup td {
	height: 35px;
}
.header .login_popup input {
	margin-left: 15px;
}

.header .login_popup input[type=text],
.header .login_popup input[type=password] {
	width: 150px;
}

/* register popup */

.header .register_popup {
	display: none;
	position: absolute;
	right: 4px;
	top: 45px;
	z-index: 999;
	padding: 10px 20px;
	border: 1px solid #999;
	background: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 30px;
}

/******************************************************************************
 * NAVIGATION BAR
 *****************************************************************************/

.navbar {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	font-size: 11pt;
	color: #cceefc;
}

.navbar > ul {
	list-style: none;
	white-space: nowrap;
	overflow-x: auto;
}

.navbar > ul > li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar li a {
	color: #cfeafe;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar li a:hover {
	color: #977aeb;
}

.navbar-separator {
	display: inline-block;
	height: 25px;
	border: none;
	border-left: 1px solid #cceefc;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 40px;
	vertical-align: middle;
}

.navbar-image {
	display: inline-block;
	margin: 0px 5px;
	vertical-align: middle;
}

.navbar .btn {
	display: inline-block;
	border: none;
	background: none;
	vertical-align: middle;
}

.navbar .btn-block {
	display: inline-block;
	width: 38px;
	height: 38px;
}

/* zoom */

.navbar .zoom-value {
	display: inline-block;
	width: 38px;
	font-weight: bold;
}

/* search */

.navbar .search-text {
	display: inline-block;
	vertical-align: middle;
}

.navbar .search-count {
	display: inline-block;
	min-width: 30px;
	font-weight: bold;
}

.navbar .search-count:hover {
	color: orange;
	cursor: pointer;
}

/* back to upload */

.navbar .btn.back-to-upload {
	background: url("./../images/icon_back.png") no-repeat scroll 0px 2px transparent;
}

.navbar .btn.back-to-upload:hover {
	color: #1F5899;
}

/* diagram actions */

.navbar .btn.view-save-diagram {
	background: url("./../images/icon_save.png") no-repeat scroll 0px 2px transparent;
}

.navbar .btn.view-refresh-diagram {
	background: url("./../images/icon_refresh.png") no-repeat scroll 0px 2px transparent;
}

.navbar .btn.view-refresh-reset-diagram {
	background: url("./../images/icon_refresh_reset.png") no-repeat scroll 0px 2px transparent;
}

/* EFP selector */

.navbar .EFP-selector .option_default {
	font-style: italic;
}

/******************************************************************************
 * CONTENT
 *****************************************************************************/

.content {
	position: relative;
	display: flex;
	text-align: center;
}

.content .viewport {
	flex-grow: 1;
	box-sizing: border-box;
	border-right: 1px solid #e8f4ff;
	background: white;
	direction: rtl;
	overflow: scroll;
	text-align: left;
}

.content .viewport .zoom-help {
	display: none;
	position: absolute;
	left: 30px;
	top: 15px;
}

.content .viewport > svg {
	direction: ltr;
}

.content .graph {
	stroke: black;
}

.node,
.vertex {
	stroke: black;
	anchor: middle;
}

.node text,
.vertex text {
	stroke: none;
	fill: black;
	font-size: 14px;
	font-family: sans-serif;
	dominant-baseline: central;
	/* unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.group-label {
	stroke: none;
	font-weight: bold;
	cursor: text;
}

.group-symbol {
	font-size: 30px !important;
	fill: black;
}

.group-symbol-big {
	font-size: 40px !important;
}

.content .viewport .vertex text,
.content .viewport .group_vertices text,
.content .viewport .group_viewport text {
	text-anchor: middle;
}

.content .viewport .vertex text {
	cursor: default;
}

.content .sidebar .group-symbol {
	text-anchor: middle;
}

.vertex .interface {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}

.group_viewport .edge-viewport-out {
	display: none;
}

.group_vertices a,
.group_viewport a {
	cursor: pointer;
}

.group_viewport .proxy-counter {
	cursor: pointer;
}

.edge .lollipop {
	stroke-width: 2;
	fill: white;
}

.edge .lollipop-cross {
	stroke:rgb(255,0,0);
	stroke-width: 2;
	transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8); /* IE 9 */
	-webkit-transform: scale(0.8,0.8); /* Safari and Chrome */
	-o-transform: scale(0.8,0.8); /* Opera */
	-moz-transform: scale(0.8,0.8); /* Firefox */
}

.edge .lollipop-tick {
	stroke:rgb(0,255,0);
	stroke-width: 2;
}

.lollipop-required,
.lollipop-provided,
.counter-required,
.counter-provided {
	text-anchor: middle;
	stroke: none;
	fill: black;
	dominant-baseline: central;
	font-size: 12px;
}

/* context menu */

.content .contextMenu .component_color img {
	float: right;
	margin-top: 3px;
	text-align: right;
}

.content .contextMenu .contextMenuDescription {
	float: right;
}

.content .contextMenu .cont_menu_group {
	float: right;
	display: block;
	margin-left: 10px;
	margin-right: 120px;
	margin-top: 4px;
	width: 20px;
	font-size: 12px;	
}

/* colors */

.color-blue {
	color: #0b548a;
}

.whiteColor {
	fill: white;
}

.colorNormal {
	fill: #cfeafe;
}

.colorHighlight{
	fill: yellow;
}

.colorHighlightProvided,
.colorHighProvB {
	fill: #5896FF;
}

.colorHighlightRequired,
.colorHighReqR {
	fill: red;
}

.vertex--unconnected {
	opacity: 0.2;
}

.vertex--searched {
	fill: orange;
	background-color: orange;   /* the element is not always SVG */
}

.vertex--dimmed,
.edge--dimmed,
.group_vertices--dimmed {
	opacity: 0.5;
}

.edge--provided {
	stroke: blue;
}

.edge--required {
	stroke: red;
}

/******************************************************************************
 * SIDEBAR (SeCo, secondary content)
 *****************************************************************************/

.sidebar {
	position: relative;
	box-sizing: border-box;
	text-align: left;
	margin-top: 40px;
	flex-basis: 350px;
	flex-grow: 0;
	flex-shrink: 0;
	overflow-y: scroll;
	background: white;
	white-space: nowrap;
}

.sidebar img {
	width: 12px;
	height: 12px;
}

.sidebar li {
	list-style: none;
	font-size: 10pt;
}

.sidebar li p {
	float:left;
	width: 162px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar li img {
	margin-left: 5px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.sidebar-navbar {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	margin-top: -40px;
	padding: 10px;
	background-color: #FFF;
}

.sidebar .components-box {
	padding: 10px;
	border-top: 1px #0B548A dashed;
}

/* buttons */

.sidebar .control-buttons {
	float: right;
	margin-right: 10px;
}

.sidebar .button {
	width: 24px;
	height: 12px;
	margin: 2px;
	margin-left: 4px;
	padding-bottom: 3px;
	border: 1px solid gray;
	border-radius: 4px;
	-moz-border-radius: 4px;  /*Firefox 3.6 and earlier */
	font-size: 10pt;
	text-align: center;
	cursor: pointer;
}

.sidebar .button.buttonClassic {
	background: rgb(173,206,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(173,206,247,1) 0%, rgba(225,236,247,1) 50%, rgba(173,206,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,206,247,1)), color-stop(50%,rgba(225,236,247,1)), color-stop(100%,rgba(173,206,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(173,206,247,1) 0%,rgba(225,236,247,1) 50%,rgba(173,206,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(173,206,247,1) 0%,rgba(225,236,247,1) 50%,rgba(173,206,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(173,206,247,1) 0%,rgba(225,236,247,1) 50%,rgba(173,206,247,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(173,206,247,1) 0%,rgba(225,236,247,1) 50%,rgba(173,206,247,1) 100%); /* W3C */
}

.sidebar .button[disabled] {
	cursor: not-allowed;
}

.sidebar a.button[disabled] {
	pointer-events: none;
}

/* components counter */

.sidebar .components-count {
	position: fixed;
	bottom: 0;
	font-size: 10px;
	padding: 0 15px;
}

/* unconnected components list */

.sidebar .unconnected-components {
	display: none;
}

/* incompatible components list */

.sidebar .incompatible-components {
}

.sidebar .incompatible-components > h5 {
	color: red;
}

/* excluded components list */

.sidebar .excluded-components .btn-group {
	margin-bottom: 10px;
}

.sidebar .excluded-components .sort-button {
	font-size: 10px;
	color: #444;
	padding: 3px 6px;
	background: none;
	border: 0;
	outline: 0;
}

.sidebar .excluded-components .sort-button:hover {
	text-decoration: underline;
}

.sidebar .excluded-components .sort-button.active {
	text-decoration: underline;
	color: #000;
}

.sidebar .excluded-components .sort-button .sort-icon {
	color: #555;
	font-size: 8px;
}

.sidebar .excluded-components .sort-button.active .sort-icon {
	color: #000;
}

.sidebar .excluded-components .include-components-button {
	float: right;
	display: none;
	position: relative;
	top: 5px;
	background: none;
	border: 0;
	outline: 0;
}

.sidebar .buttonImage {
	margin-top: 10%;
	flex-shrink: 0;
	min-width: 65%;
	min-height: 100%    
}

/* excluded components */

.sidebar .component::after {
	display: block;
	content: "";
	clear: both;
}

.sidebar .component > svg {
	min-height: 70px;
}

.sidebar .component > .compatibility-list {
	cursor: default;
	/* unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebar .group-label {
	font-size: 10pt;
	font-family: sans-serif;
	margin-left: 16px;
}

.sidebar .group-label strong {
	font-weight: bold;
	cursor: default;
	/* unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* to change components */

#proposeChanges {
	margin-bottom: 10px;
}

.sidebar .to-change-components .active {
	background-color: #faff70;
	/* background-color: #83f776; */
}

/******************************************************************************
 * UPLOAD COMPONENTS PAGE
 * TODO refactor
 *****************************************************************************/

#uploadComponent {
	display: inline-block;
	min-height: 150px;
	margin: auto;
	margin-top: 20px;
	background: #CFEAFE;
	padding: 10px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}

#uploadComponent ul {
	display: inline-block;
	text-align: left;
}

#uploadComponent form {
	text-align: center;
}

#uploadedComponent {
	margin: 5px 10px 10px 10px;
	list-style: none;
	list-style-position: inside;
}

#uploadedComponent li {
	padding: 2px 5px;
	min-width: 450px;
}

#uploadedComponent li:nth-child(2n-1){
	background:#e0dfdf;
}

#uploadedComponent li:nth-child(2n){
	background:#f5f4f4;
}

#deleteAll {
	margin-bottom: 20px;
}


#input_diagram_name{

	width: 100px;
}

/*#chooseFramework {
	width: 300px;
	height: 150px;
	line-height: 150px;
	margin: auto;
	margin-top: 100px;
	background: #CFEAFE;
	box-shadow: 10px 10px 5px #888888;
}*/
/*
#chooseFramework form {
	vertical-align: middle;
	text-align: center;
}*/

#framework {
	width: 240px;
}

.formButton {
	width: 240px;
}

.load {
	position: relative;
	left: 30px;
	width: 90px;
}

.file_input_textbox {
	height: 20px;
	width: 150px;
	float: left;
}

.file_input_div {
	position: relative;
	float: left;
	width: 95px;
	height: 26px;
	overflow: hidden;
}

.file_input_hidden {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.errorMessage {
	width: 510px;
	margin: auto;
	margin-top: 50px;
	background: #F28E8E;
	padding: 5px;
	box-shadow: 10px 10px 5px #888888;
	text-align: left;
}

/* logged-in user menu */

#logged_user_menu {
	width: 200px; 
	padding: 20px 10px;
	float:left; 
	background: #CFEAFE;
	text-align:left;
}
#logged_user_menu h3 {
	font-weight: bold;
	font-size: 15px;
}
#logged_user_menu ul {
	list-style-type: none;
	padding-left: 10px;
	line-height: 25px;
}
#logged_user_menu a {
	color: #0B548A;
}
#logged_user_menu a:hover {
	text-decoration:none;
}

#diagram_id_new a{
	padding-left: 18px;
	background: url("./../images/icon_new_diagram.png") no-repeat scroll 0px 2px transparent;
}