/* 
    Document   : tooltip
    Created on : 20.4.2012, 1:27:56
    Author     : Jindra Pavl�kov� <jindra.pav2@seznam.cz>
    Description:
        Purpose of the stylesheet follows.
*/

.qtip-green{
    font-family: sans-serif;
    font-size: 10pt;
}

.qtip-green .qtip-content {
    padding: 10px;
    border-width: 2px;
}

.qtip-green .qtip-content ul {
    padding: 0px;
    margin: 0px 10px 0px 10px !important;
    list-style-position: inside;
}
.qtip-green .qtip-content ul li{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
   /* max-width: 500px;*/
   /*    list-style-position: inside;*/
}

.compatibility-list li {
    white-space: nowrap;
}

.qtip-green .qtip-content ul.tooltip_vertex_left{
    float: left;
}

.qtip-green .qtip-content ul.tooltip_vertex_right{
    float: left;
    margin-left: 20px;
}

.qtip-green .qtip-content li.tooltip_export_package {
    margin-left: -10px;
    font-weight: bold;
    list-style-type: none;
}
.qtip-green .qtip-content li.tooltip_import_package {
    margin-left: -10px;
    font-weight: bold;
    list-style-type: none;
}

.qtip-content img {
	margin-right: 3px;
}

/*.qtip-green ul {
    overflow: scroll;
    max-height: 200px;
}*/