.king{
    /*background-color: black; */
    background:rgba(59, 58, 58, 1);
}
.person{
    /*background-color: blue; */
    background:rgba(39, 2, 253, 0.7);
}
.queen{
    /*background-color: pink; */
    background:rgba(228, 109, 109, 0.5);
}
.fancy{
    border-radius: 5px;
}
.commit{
    background:rgba(4, 84, 255, 0.5);
}

.dumbbell-king{
    /*background-color: black; */
    background:rgb(59, 58, 58);
}

.dumbbell-person{
    /*background-color: blue; */
    background:rgb(39, 2, 253);
}

.dumbbell-event{
    /*background-color: blue; */
    background:rgb(44, 253, 2);
}