.upload-form {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #CFEAFE;
    box-shadow: 3px 3px 10px #888;
}

.upload-form button[type="submit"] {
	display: block;
	width: 100%;
}

.diagrams-menu {
	width: 200px;
    margin: 20px auto;
	padding: 10px;
	background-color: #CFEAFE;
	box-shadow: 3px 3px 10px #888;
}

.diagrams-menu li {
	height: 20px;
}

.diagrams-menu li button {
	float: right;
    width: 20px;
    height: 20px;
    padding: 0;
}

.diagrams-menu li img {
	max-width: 100%;
}
