body {
	font-family: 'Arial', sans-serif;
	font-size: 0.8em;
	margin: 0;
	background-color: #e8f4ff;
	height: 100vh;
}

ul {
	list-style: none;
	padding-left: 0;
}

td {
	padding: 0 0.8em;
	line-height: 35px;
	vertical-align: top;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select {
	width: 150px;
}

form input[type="checkbox"] {
	margin: 0;
}

.hidden {
	display: none !important;
}

.row {
	display: flex;
}

.form-field {
	margin-bottom: 20px;
}

.loggedIn .loggedOutOnly,
.loggedOut .loggedInOnly {
	display: none !important;
}
