body {
	overflow: hidden;
}

kbd {
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: 4px;
	border-radius: 4px;
	background-color: #eee;
}

.graph-content {
	display: flex;
	height: calc(100vh - 60px - 43px);
	background-color: #fff;
}

.archetype-icon {
	dominant-baseline: central;
	pointer-events: bounding-box;
}
