<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
	<context-param>
		<param-name>DbUrl</param-name>
		<param-value>jdbc:mysql://127.0.0.1/</param-value>
	</context-param>
	<context-param>
		<param-name>DbName</param-name>
		<param-value>visualization_tool</param-value>
	</context-param>
	<context-param>
		<param-name>DbUser</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>DbPsw</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>HOME_URL</param-name>
		<param-value>http://localhost:8080/imiger/</param-value>
	</context-param>
	<context-param>
		<param-name>storageLocation</param-name>
		<param-value>C:\Users\fidra\Work\imiger\storage</param-value>
	</context-param>
	<context-param>
		<param-name>configLocation</param-name>
		<param-value>C:\Users\fidra\Work\imiger\config</param-value>
	</context-param>

	<context-param>
		<param-name>minInterfaceDiameter</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>maxInterfaceDiameter</param-name>
		<param-value>40</param-value>
	</context-param>

	<!--
	servlets
	-->
	<servlet>
		<servlet-name>DefaultPage</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.DefaultPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowGraph</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.ShowGraph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFiles</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.UploadFiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyComponents</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.CopyComponents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAllComponents</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.DeleteAllComponents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComponent</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.DeleteComponent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiagramEndpoint</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.DiagramEndpoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadComponent</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.actions.DownloadComponent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadGraphData</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.LoadGraphData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EfpImport</servlet-name>
		<servlet-class>cz.zcu.kiv.offscreen.servlets.EfpImport</servlet-class>
	</servlet>

	<!--
	URL-to-servlet mappings
	-->
	<servlet-mapping>
		<servlet-name>DefaultPage</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/api/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/log-in</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/log-out</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowGraph</servlet-name>
		<url-pattern>/graph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFiles</servlet-name>
		<url-pattern>/upload-files</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyComponents</servlet-name>
		<url-pattern>/api/copy-components</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAllComponents</servlet-name>
		<url-pattern>/delete-components</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComponent</servlet-name>
		<url-pattern>/delete-component</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiagramEndpoint</servlet-name>
		<url-pattern>/api/diagram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadComponent</servlet-name>
		<url-pattern>/api/download-component</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadGraphData</servlet-name>
		<url-pattern>/api/graph-data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EfpImport</servlet-name>
		<url-pattern>/efp-import</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<listener>
		<listener-class>cz.zcu.kiv.offscreen.session.SessionManager</listener-class>
	</listener>

	<!-- Tomcat CORS filter; https://tomcat.apache.org/tomcat-8.0-doc/config/filter.html#CORS_Filter -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>DefaultPage</welcome-file>
	</welcome-file-list>
</web-app>